@model AutaCH_MD.Models.User;

<div>
    <h1>Hi, @Model.FirstName</h1>
    <div>
        <a asp-controller="Account" asp-action="MyCars" class="btn btn-dark">My Auctions</a>
        <a asp-controller="Account" asp-action="WonAuctions" class="btn btn-dark">Won Auctions</a>
        <a asp-controller="Account" aps-action="GetWatchList" class="btn btn-dark">Watchlist</a>
        <a class="btn btn-dark">Proteges</a>
        <a asp-controller="Account" asp-action="MyProfilePage" class="btn btn-dark">My Profile</a>
    </div>
</div>
