@model AutaCH_MD.DTOs.ChangePasswordDTO
<div class="changePass-form d-flex flex-column align-items-center">

    <h1>Change Password</h1>

    <form asp-controller="Account" asp-action="ChangePassword" method="post" class="form-bg form-control mt-5 p-5 bg-black d-flex flex-column">

        <div asp-validation-summary="ModelOnly" class="text-danger mt-2 fs-5 text-decoration-underline"></div>

        <div class="form-group">
            <label asp-for="CurrentPass" class="form-label text-light">Current Password</label>
            <input asp-for="CurrentPass" type="password" class="form-control form-input" />
            <span asp-validation-for="CurrentPass" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="NewPass" class="form-label text-light">New Password</label>
            <input asp-for="NewPass" type="password" class="form-control form-input" />
            <span asp-validation-for="NewPass" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmNewPass" class="form-label text-light">Confirm New Password</label>
            <input asp-for="ConfirmNewPass" type="password" class="form-control form-input" />
            <span asp-validation-for="ConfirmNewPass" class="text-danger"></span>
        </div>

        <div class="edit-btn d-flex flex-column align-items-center mt-5">
            <button type="submit" class="btn btn-light">Save Changes</button>
            <a asp-controller="Account" asp-action="MyProfilePage" class="btn btn-light mt-3">Back</a>
        </div>
    </form>
</div>