@model AutaCH_MD.DTOs.UpdateUserDTO;

<div class="editPage-form d-flex flex-column align-items-center">
    <h1 class="mt-5">Update Profile Info</h1>

    <form asp-controller="Account" asp-action="EditProfile" method="post" class="form-bg form-control mt-5 p-5 d-flex flex-column">
        <div asp-validation-summary="ModelOnly" class="text-danger mt-2 fs-5 text-decoration-underline"></div>
        <div>
            <input type="hidden" asp-for="UserId" />
            <div class="edit-fill form-group">
                <label asp-for="FirstName" class="form-label text-light">First Name</label>
                <input asp-for="FirstName" placeholder="First Name" class="form-control form-input" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="edit-fill form-group">
                <label asp-for="LastName" class="form-label text-light">Last Name</label>
                <input asp-for="LastName" placeholder="Last Name" class="form-control form-input" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="edit-fill form-group">
                <label asp-for="Country" class="form-label text-light">Country</label>
                <input asp-for="Country" placeholder="Country" class="form-control form-input" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="edit-fill form-group">
                <label asp-for="City" class="form-label text-light">City</label>
                <input asp-for="City" placeholder="City" class="form-control form-input" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="edit-fill form-group">
                <label asp-for="PostalCode" class="form-label text-light">Postal Code</label>
                <input asp-for="PostalCode" placeholder="Postal Code" class="form-control form-input" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="edit-fill form-group">
                <label asp-for="Street" class="form-label text-light">Street</label>
                <input asp-for="Street" placeholder="Street" class="form-control form-input" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="edit-fill form-group">
                <label asp-for="HouseNumber" class="form-label text-light">House Number</label>
                <input asp-for="HouseNumber" placeholder="House Number" class="form-control form-input" />
                <span asp-validation-for="HouseNumber" class="text-danger"></span>
            </div>
            <div class="edit-fill form-group">
                <label asp-for="ApartmentNumber" class="form-label text-light">Ap. Number</label>
                <input asp-for="ApartmentNumber" placeholder="Ap. Number" class="form-control form-input" />
                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
            </div>
            <div class="edit-fill form-group">
                <label asp-for="PhoneNumber" class="form-label text-light">Phone Number</label>
                <input asp-for="PhoneNumber" placeholder="Phone Number" class="form-control form-input" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="edit-btn d-flex flex-column align-items-center mt-5">
            <button type="submit" class="btn btn-light">Save Changes</button>
            <a asp-controller="Account" asp-action="MyProfilePage" class="btn btn-light mt-3">Back</a>
        </div>
    </form>
</div>

